
table.login_sign{
	padding:4px 10px;
	border-spacing:0pt 5pt;
	margin-left: auto;
    margin-right: auto; 
}


table.login_sign tr
{ 
	background-image: url('../images/log_sign.png'); 
}
