/*
	CSS for left menu
	mainMenu - The main class of the left menu.
	topCenter - Id for the top label "Menu".
	noBullet - If for design of <li> without a bullet.
	menu - The class of inner menus.
*/

ul.mainMenu {
	margin:0;
	padding:0;
	list-style-position:inside;
	height:100%;
}

#topCenter {
	background-image:url('../images/blueLabel1pix.png');
	background-repeat:repeat-x;
	list-style-type:none;
	list-style-image:none;
	color: white;
	padding-top: 2px;
	padding-left: 5px;
	padding-bottom: 2px;
}

#noBullet{
	list-style-type:none;
	list-style-image:none;
	list-style-position:inside;
}


ul.mainMenu li{
	background-image:url('../images/greenLabel1pix.png');
	background-repeat:repeat-x;
	font-family: sans-serif;
	padding-right: 5px;
}

.menuInactive{
	list-style-image: url('../images/rightArrow.png');
}

.menuActive{
	list-style-image: url('../images/downArrow.png');
}

ul a{
	text-decoration: none;
}

ul a:link, a:visited
{
	color:#000000;
}

ul.mainMenu li ul{
	margin-left:0px;
	padding-left:0px;
	display: none;
}

ul.mainMenu li ul li{
	list-style-type:none;
	list-style-image:none;
	background-image:none;
	background-repeat:none;
}
